post-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-user-container{
    display: flex;
}
.post-user-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
}
.post-user-name{
    font-size: 18px;
    font-weight: bold;
}
.post-user-name:hover{
    text-decoration: underline;
    cursor: pointer;
}
.post-user-date{
    font-size: 15px;
}