.card-footer-container{
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.card-footer-top {
    display: flex;
    justify-content: space-between;
}

.line {
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 0 auto; 
  }

.card-footer-bottom {
    display: flex;
    margin-top: 5px;
}
.item {
    display: flex;
    flex-grow: 1;
    cursor: pointer;
    padding: 7px;
    border-radius: 5px;
}

.align {
    align-items: center;
    justify-content: center;
}
.icon {
    margin: 0 8px;
}
.hover:hover{
    background-color: rgb(56, 56, 56);
}
.count:hover {
    text-decoration: underline;
    cursor: pointer;
}
.item-hover{
    background-color: inherit;

}